<div class="container">
  <h1>All Trips</h1>
  <% @trips.each do |trip| %>
    <div class="card mt-5">
      <% if trip.photo.attached? %>
        <%= image_tag trip.photo, class: "card-image", height: 300, width: 325 %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= trip.name %></h5>
        <p class="card-text">Location: <%= trip.location %></p>
        <p class="card-text">Budget: <%= trip.budget %></p>
        <p class="card-text">Start Date: <%= trip.start_date %></p>
        <p class="card-text">End Date: <%= trip.end_date %></p>
        <p class="card-text">Number of Days: <%= trip.number_of_days %></p>
        <%= link_to "View Trip", trip_path(trip), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
