<div class="container pt-5">
  <h1>Embark on an Adventure</h1>
  <h2>Your Ultimate Journey Awaits! </h2>
  <h5>Select your Dates, Uncover Exotic Locations, and Curate a Budget-friendly Escape with our App</h5>
</div>
<div  class="container p-5 mt-5 bg-white" style="margin-bottom:7vh">
<%= simple_form_for(@trip) do |f| %>
  <%= f.label :name, "Name your trip" %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :budget %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit class: "btn btn-primary create-trip", style: "float:right" %>
<% end %>
</div>
