<div class="container">
  <div class="row mt-5">
        <div class="col-5">
          <% @trip.stays.each do |stay| %>
            <div class="hotel-card bg-white mt-5">
              <div class="hotel-picture"></div>
              <div class="hotel-info p-4">
                  <div class="hotel-title">
                  <h4 class="mt-2"><b><%= stay.name.capitalize %></b></h4>
                  </div>
                  <div class="hotel-address">
                    <p><%= stay.address %></p>
                  </div>
                  <div class="hotel-delete text-end">
                    <%= link_to "Remove", stay_path(stay), class: "btn btn-sm btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                  </div>
              </div>
            </div>
          <% end %>
        </div>

    <div class="col-6 offset-1">
    <h1 class="mt-5 mb-3">Trip <b><%= @trip.name %></b> <a href="#editactivities" class="btn btn-sm btn-success">edit trip</a> <a class="btn btn-secondary btn-sm" onclick="window.location.href='/trips/<%= @trip.id %>/stays'">Look for more stays</a></h1>
      <h2>Key info about your trip</h2>
        <p style="font-size:1.2em"><b><%= @trip.name %></b> starts from <b><%= @trip.start_date %></b> to <b><%= @trip.end_date %></b> at <b><%= @trip.location %></b>, with a
        <b>€ <%= @trip.budget %></b> budget.</p>
        <h4>Total number of days: <b><%= @trip.number_of_days %></b></h4>
        <%= link_to "Add new activity", trip_activities_path(@trip), class: "btn btn-primary" %>

        <a href="#myactivities" class="btn btn-info"> See my activities</a>
    </div>

    <div class="col-md-12" id="myactivities">

      <h2 class="mt-5">My Activities</h2>

      <% @trip.activities.each do |activity| %>
        <div class="col-12 p-2">
        </div>
        <div class="row p-5 bg-white m-2">
        <h4><i class="fa-sharp fa-solid fa-person-hiking"></i><%= activity.name %></h4>
          <div class="col-5">
            <img class="img-fluid" src="https://media.tacdn.com/media/attractions-splice-spp-674x446/06/6f/7a/e0.jpg" />
          </div>
          <div class="col-7">
            <p><%= activity.description %></p>
            <%= link_to "Remove", trip_activity_path(activity), class: "btn btn-sm btn-danger", style: "float:right", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>

          <% end %>
    </div>
  </div>
</div>

<div class="container trip-edit-bg mt-5 p-5">
  <h2 id="editactivities"><i class="fa-regular fa-pen-to-square"></i> Edit trip <b><%= @trip.name %></b></h2>
  <%= simple_form_for(@trip) do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :budget %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <% if f.object.start_date.present? && f.object.end_date.present? %>
      <p>Number of days: <%= Trip.calculate_days(f.object.start_date, f.object.end_date) %></p>
    <% end %>
  <% end %>
</div>
