

<p>Budget: <%= @trip.budget %></p>
<p>Total Cost: <%= @trip.cost %></p>
<p>Remaining Budget: <%= @trip.budget - @trip.cost %></p>
<h1 class = "d-flex justify-content-center"> <%= @trip.name %></h3>
<h3 class = "d-flex justify-content-center">Saved Hotels:</h3>
<div class="d-flex justify-content-center width">

<div class="container">
  <div class="row mt-5">
        <div class="col-5">

          <img class="img-fluid" src=`${stay.pictures[0]}` />
        </div>
        <div class="col-7">
          <h4><%= stay.name %></h4>
        </div>
          <% @trip.stays.each do |stay| %>
            <div class="hotel-card bg-white mt-5">
              <div class="hotel-picture"></div>
              <div class="hotel-info p-4">
                  <div class="hotel-title">
                  <h4 class="mt-2"><b><%= stay.name.capitalize %></b></h4>
                  </div>
                  <div class="hotel-address">
                    <p><%= stay.address %></p>
                  </div>
                  <div class="hotel-delete text-end">
                    <%= link_to "Remove", stay_path(stay), class: "btn btn-sm btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                  </div>
              </div>
            </div>

          <% end %>
        </div>

    <div class="col-6 offset-1">
    <h1 class="mt-5 mb-3">Trip <b><%= @trip.name %></b> <a href="#editactivities" class="btn btn-sm btn-success">edit trip</a> <a class="btn btn-secondary btn-sm" onclick="window.location.href='/trips/<%= @trip.id %>/stays'">Look for more stays</a></h1>
      <h2>Key info about your trip</h2>
        <p style="font-size:1.2em"><b><%= @trip.name %></b> starts from <b><%= @trip.start_date %></b> to <b><%= @trip.end_date %></b> at <b><%= @trip.location %></b>, with a
        <b>€ <%= @trip.budget %></b> budget.</p>
        <h4>Total number of days: <b><%= @trip.number_of_days %></b></h4>
        <%= link_to "Add new activity", trip_activities_path(@trip), class: "btn btn-primary" %>

        <a href="#myactivities" class="btn btn-info"> See my activities</a>
    </div>

    <div class="col-5 offset-1">
    <div class="trip-list row"  style="border:1px solid #ccdce3;">
        <div class="col-12 bg-white p-2">
          <h3><i class="fa-sharp fa-solid fa-person-hiking"></i> <b>Activities</b></h3>
        </div>
        <div class="col-4 p-3">
          <img class="img-fluid" src="https://media.guruwalk.com/yj9fgn7i4xoy22f0s8z3u0nvvqty" />
        </div>
        <div class="col-8 p-3">
          <h5>Lorem Ipsum Cha</h5>
          <p>Nullam dignissim in nisl sit amet auctor. Nulla facilisi. Phasellus interdum venenatis felis vitae imperdiet</p>
          <a href="#" class="btn btn-danger" style="float:right">Unlist</a>
        </div>
        <hr>
        <div class="col-4 p-3">
          <img class="img-fluid" src="https://media.guruwalk.com/yj9fgn7i4xoy22f0s8z3u0nvvqty" />
        </div>
        <div class="col-8 p-3">
          <h5>Lorem Ipsum Cha</h5>
          <p>Nullam dignissim in nisl sit amet auctor. Nulla facilisi. Phasellus interdum venenatis felis vitae imperdiet</p>
          <a href="#" class="btn btn-danger" style="float:right">Unlist</a>
        </div>
        <hr>
        <div class="col-4 p-3">
          <img class="img-fluid" src="https://media.guruwalk.com/yj9fgn7i4xoy22f0s8z3u0nvvqty" />
        </div>
        <div class="col-8 p-3">
          <h5>Lorem Ipsum Cha</h5>
          <p>Nullam dignissim in nisl sit amet auctor. Nulla facilisi. Phasellus interdum venenatis felis vitae imperdiet</p>
          <a href="#" class="btn btn-danger" style="float:right">Unlist</a>
        </div>
        <% @trip.stays.each do |stay| %>
        <div class="col-5">
          <img class="img-fluid" src=`${stay.pictures[0]}` />
        </div>
        <div class="col-7">
          <h4><%= stay.name %></h4>


    <div class="col-md-12" id="myactivities">

      <h2 class="mt-5">My Activities</h2>

      <% @trip.activities.each do |activity| %>
        <div class="col-12 p-2">
        </div>
        <div class="row p-5 bg-white m-2">
        <h4><i class="fa-sharp fa-solid fa-person-hiking"></i><%= activity.name %></h4>
          <div class="col-5">
            <img class="img-fluid" src="https://media.tacdn.com/media/attractions-splice-spp-674x446/06/6f/7a/e0.jpg" />
          </div>
          <div class="col-7">
            <p><%= activity.description %></p>
            <%= link_to "Remove", activity_path(activity), class: "btn btn-sm btn-danger", style: "float:right", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

        </div>

          <% end %>
    </div>
  </div>
</div>
