<%= render "shared/budget_nav", trip: @trip %>
<%= render "shared/add-activity", trip: @trip %>

<div class="container">
  <div class="row mt-5">
        <div class="col-4">
          <% if @trip.stays.present?  %>
              <% @trip.stays.each do |stay| %>
              <div class="hotel-card bg-white mt-5">
                <div class="hotel-picture" style="background-image: url('https://loremflickr.com/800/600/building');"></div>
                <div class="hotel-info p-4">
                    <div class="hotel-title">
                    <h4 class="mt-2"><b><%= stay.name.capitalize %></b></h4>
                    </div>
                    <div class="hotel-address">
                      <p><i class="fa-sharp fa-solid fa-location-dot"></i> <%= stay.address %></p>
                      <h4>€ <%= stay.cost %></h4>
                    </div>
                    <div class="hotel-delete text-end">
                      <%= link_to "Remove", stay_path(stay), class: "btn btn-sm btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                    </div>
                </div>
              </div>
             <% end %>
          <% else %>
            <center><a class="btn btn-primary btn-lg add-stay" onclick="window.location.href='/trips/<%= @trip.id %>/stays'"><i class="fa-solid fa-calendar-plus"></i> <br>Add a stay to your Trip</a></center>
          <% end %>


        </div>

    <div class="col-6 offset-1">
    <h1 class="mt-5 mb-3">Trip <b><%= @trip.name %></b>
      <%= link_to(edit_trip_path(@trip), class: "btn btn-sm btn-dark") do %>
          <i class="far fa-pen-to-square"></i> edit trip
      <% end %>
    </h1>
      <h3>Key info about your trip</h3>
      <div class="bd-callout bd-callout-info">
          <p style="font-size:1.2em"><b><%= @trip.name %></b> starts from <b><%= @trip.start_date.strftime("%m-%d-%Y") %></b> to <b><%= @trip.end_date.strftime("%m-%d-%Y") %></b> at <b><%= @trip.location %></b>, with a
          <b>€ <%= @trip.budget %></b> budget during <b><%= @trip.number_of_days %></b> days.</p>
          <% if @trip.activities.present?  %>
            <a href="#myactivities" class="btn btn-info"> See my activities</a>
          <% end %>
      </div>
    </div>

    <div class="col-md-12 mt-5">


        <% if @trip.activities.present?  %>
          <div class="bd-callout bd-callout-info" >
            <h5>You have
            <b><%= @trip.activities.count %></b>
              <% if @trip.activities.count == 1%>
                activity on this trip</h5>
              <% else %>
                activities on this trip</h5>
              <% end %>
          </div>
        <% end %>

<span  id="myactivities"></span>

      <% @trip.activities.each do |activity| %>
        <div class="col-12 p-2">
        </div>
        <div class="row p-3 bg-white m-2">
        <h4><i class="fa-sharp fa-solid fa-person-hiking"></i> <%= activity.name %></h4>
          <div class="col-5">
            <img class="img-fluid" src="<%= activity.image %>"/>

          </div>
          <div class="col-7">
            <p><%= activity.description %></p>
           <%= link_to activity_path(activity), class: "btn btn-danger detele-btn", style: "float:right", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>

          </div>
        </div>

          <% end %>
    </div>
  </div>
</div>
<script>
  window.onscroll = function() {myFunction()};

  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;

  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
</script>
