<h1 class = "d-flex justify-content-center"> <%= @trip.name %></h3>
<h3 class = "d-flex justify-content-center">Saved Hotels:</h3>
<div class="d-flex justify-content-center width">
  <% @trip.stays.each do |stay| %>
<div class="card" style="width: 40%;border: 1px solid black">
    <div class="card-content">
      <strong><p><%= stay.name %></p></strong>
      <p>€<%= stay.price %> total</p>
      <%= link_to "Remove", stay_path(stay), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  <% end %>
  <br>
</div>
</div>
  <div class="card-footer my-3">
    <button class="btn btn-primary" onclick="window.location.href='/trips/<%= @trip.id %>/stays'">Look for more stays</button>
  </div>
