<%= render "shared/budget_nav" %>
<%= render "shared/go-back", trip: @stays %>
<div class="container" data-controller="stays-form" data-trip-id="<%= @trip.id %>">
  <h3 class="text-center my-3">Type your destination to get a list of hotel options</h3>
  <div class="row justify-content-center">
    <div class="col-md-8 justify-content-center">
      <%= form_with url: trip_stays_path(@trip), method: :post, html: { class: "d-flex", data: { action: "submit->stays-form#searchLocation" } } do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= f.text_field :query, class: "form-control stay-search-input", placeholder: "Look for a hotel", value: params[:query], data: { stays_form_target: "input" } %>
        <%= f.submit "Search", class: "btn btn-primary", data: { stays_form_target: "form" } %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <ul class="row" data-stays-form-target="list">
        <!-- Use an empty <li> element as a placeholder for the links -->
        <li data-target="stays-form.listItem" style="list-style:none"></li>
      </ul>
    </div>
  </div>
</div>
<script>
  window.onscroll = function() {myFunction()};

  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;

  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
</script>
