<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<svg id="stroke" xmlns="http://www.w3.org/2000/svg" width="0" height="0">
	<defs>
		<path id="line" d="M2 2c49.7 2.6 100 3.1 150 1.7-46.5 2-93 4.4-139.2 7.3 45.2-1.5 90.6-1.8 135.8-.6" fill="none" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"/>
	</defs>
</svg>
  <div class="container">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "roam-master-navbar.jpg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to  root_path, class: "nav-link btn-effect" do %>
              Home
            <%= content_tag :svg, class: "button-stroke", viewBox: "0 0 154 13" do %>
              <%= content_tag :use, "", href: "#line" %>
            <% end %>
            <%= content_tag :svg, class: "button-stroke", viewBox: "0 0 154 13" do %>
              <%= content_tag :use, "", href: "#line" %>
            <% end %>
          <% end %>
        </li>

          <li class="nav-item">
            <%= link_to new_trip_path, class: "nav-link btn-effect" do %>
              Start Trip
              <%= content_tag :svg, class: "button-stroke", viewBox: "0 0 154 13" do %>
                <%= content_tag :use, "", href: "#line" %>
              <% end %>
              <%= content_tag :svg, class: "button-stroke", viewBox: "0 0 154 13" do %>
                <%= content_tag :use, "", href: "#line" %>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">

         <%= link_to "My Trips", "#offcanvasExample", class: "nav-link", data: { bs_toggle: "offcanvas" }, role: "button", aria: { controls: "offcanvasExample" } %>


          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
